.backgroundColor {
  background-color: rgb(30, 30, 30);
}

.page {
  min-height: 100vh;
  position: relative;
  display: grid;
  width: 100%;
  color: whitesmoke;
}

.content{
  position: relative;
  display: grid;
  width: 100%;
  color: whitesmoke;
}

.contact {
  position: relative;
  display: grid;
  width: 100%;
  color: whitesmoke;
}

.picture {
  animation: pictureDown 1s;
}

.name {
  animation: shiftUp 2.5s;
}

.description {
  animation: shiftDown 2.5s;
}

@keyframes shiftUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(20%);
  }
  60% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes shiftDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  55% {
    opacity: 0;
    transform: translateY(-20%);
  }
  75% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes pictureDown {
  0% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}

.link {
  @apply text-blue-400 hover:text-blue-300;
}

.icon {
  @apply hover:text-blue-300;
}

.background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(194, 194, 194);
}

.backgroundItem {
  display: flex;
  position: absolute;
  opacity: 0.5;
  font-size: calc(5px + 3vmin);
}

.backgroundItem > div {
  flex-shrink: 0;
}

.importColor {
  color: #9b6b97;
}

.stringColor {
  color: #9b705e;
}

.varColor {
  color: #8ac1de;
}

.constColor {
  color: #4f8fc2;
}

.functionColor {
  color: #ad9855;
}

.numberColor {
  color: #b5cea8;
}

.reactPicture {
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
