.page {
  min-height: 100vh;
  position: relative;
  display: grid;
  width: 100%;
  overflow: hidden;
  background-color: rgb(30, 30, 30);
  color: whitesmoke;
}

.background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(194, 194, 194);
}

.backgroundItem {
  display: flex;
  position: absolute;
  opacity: 0.5;
  font-size: calc(5px + 3vmin);
}

.backgroundItem > div {
  flex-shrink: 0;
}

.importColor {
  color: #9b6b97;
}

.stringColor {
  color: #9b705e;
}

.varColor {
  color: #8ac1de;
}

.constColor {
  color: #4f8fc2;
}

.functionColor {
  color: #ad9855;
}

.numberColor {
  color: #b5cea8;
}

.reactPicture{
  animation: rotate 20s infinite linear;
}

@keyframes rotate{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}